/*
__     __         _       _     _           
\ \   / /_ _ _ __(_) __ _| |__ | | ___  ___ 
 \ \ / / _` | '__| |/ _` | '_ \| |/ _ \/ __|
  \ V / (_| | |  | | (_| | |_) | |  __/\__ \
   \_/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/
*/                                            
                                            

:root{
	--color1: #990000;
	--color2: #009900;
	--color3: #000099;
	--color4: #999900;
}

.color1{
	background-color: var(--color1)
}
.color2{
	background-color: var(--color2)
}
.color3{
	background-color: var(--color3)
}
.color4{
	background-color: var(--color4)
}





/*
 ____                _
|  _ \ ___  ___  ___| |_
| |_) / _ \/ __|/ _ \ __|
|  _ <  __/\__ \  __/ |_
|_| \_\___||___/\___|\__|

*/


* {
	padding: 0;
	margin: 0;
	border: 0;
}


/*
 _____                                        _
|_   _|   _ _ __   ___   __ _ _ __ __ _ _ __ | |__  _   _
  | || | | | '_ \ / _ \ / _` | '__/ _` | '_ \| '_ \| | | |
  | || |_| | |_) | (_) | (_| | | | (_| | |_) | | | | |_| |
  |_| \__, | .__/ \___/ \__, |_|  \__,_| .__/|_| |_|\__, |
      |___/|_|          |___/          |_|          |___/
*/

body {
	background-color: gray;
	color: #FFFFFF;
}

h1, h2 {
	text-align: center;
}



/*
 ____            _        _                            _
| __ )  __ _ ___(_) ___  | |    __ _ _   _  ___  _   _| |_
|  _ \ / _` / __| |/ __| | |   / _` | | | |/ _ \| | | | __|
| |_) | (_| \__ \ | (__  | |__| (_| | |_| | (_) | |_| | |_
|____/ \__,_|___/_|\___| |_____\__,_|\__, |\___/ \__,_|\__|
                                     |___/
*/

.flex-1,
.flex-2,
.flex-3,
.flex-4,
.flex-5,
.flex-6,
.flex-7,
.flex-8,
.flex-9,
.flex-10,
.flex-11,
.flex-12{

	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #0C5DA5;
}


#container {
	width: auto;
	margin-left: 50px;
	margin-right: 50px;
	background-color: #172CAF;
}


.row{
	display: flex;.
	flex-direction: row;
	justify-content: space-between;
}


.flex-1 {
	/*flex-basis: 8.33%;*/
	flex: 1;

}
.flex-2 {
	/*flex-basis: 16.66%;*/
	flex: 2;
}
.flex-3 {
	/*flex-basis: 25%;*/
	flex: 3;
}
.flex-4 {
	/*flex-basis: 33.33%;*/
	flex: 4;
}
.flex-5 {
	/*flex-basis: 41.66%;*/
	flex: 5;
}
.flex-6 {
	/*flex-basis: 50%;*/
	flex: 6;
}
.flex-7 {
	/*flex-basis: 58.33%;*/
	flex: 7;
}
.flex-8 {
	/*flex-basis: 66.66%;*/
	flex: 8;
}
.flex-9 {
	/*flex-basis: 75%;*/
	flex: 9;
}
.flex-10 {
	/*flex-basis: 83.33%;*/
	flex: 10;
}
.flex-11{
	/*flex-basis: 91.66%;*/
	flex: 11;
}
.flex-12 {
	/*flex-basis: 100%;*/
	flex: 12;
}

.color1{
	background-color: var(--color1)
}
.color2{
	background-color: var(--color2)
}
.color3{
	background-color: var(--color3)
}
.color4{
	background-color: var(--color4)
}


.order-1{
	order: 1;
}

.order-2{
	order: 2;
}

.order-3{
	order: 3;
}

.order-4{
	order: 4;
}

.order-5{
	order: 5;
}

.order-6{
	order: 6;
}



.trim-left{
	margin-left: 0px;
	padding-left: 0px;
}

.trim-right{
	margin-right: 0px;
	padding-right: 0px;
}





/*
 __  __          _ _          ___                  _
|  \/  | ___  __| (_) __ _   / _ \ _   _  ___ _ __(_) ___  ___
| |\/| |/ _ \/ _` | |/ _` | | | | | | | |/ _ \ '__| |/ _ \/ __|
| |  | |  __/ (_| | | (_| | | |_| | |_| |  __/ |  | |  __/\__ \
|_|  |_|\___|\__,_|_|\__,_|  \__\_\\__,_|\___|_|  |_|\___||___/

*/


@media screen and (max-width: 800px){
		#container {
			margin-left: 10px;
			margin-right: 10px;
		}


}

@media screen and (max-width: 481px){
		#container {
			margin-left: 0px;
			margin-right: 0px;
		}

		.row{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

}
